@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    background-color: #385858;
    display: flex;
    justify-content: center;
}

section {
    padding-top: 100px;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
}

input {
    padding: 10px;
    margin-right: 2px;
}

#messageInput {
    display: inline-block;
    width: 500px;
}

#send {
    display: inline-block;
    width: 124px;
    background-color: black;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
}

#send:hover {
    background-color: limegreen;
    color: black;
}

#send:active {
    background-color: darkgreen;
}

